<div class="header">
  <nav class="navbar navbar-expand-md bg-dark navbar-dark fixed-top">

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
      aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">



      <a class="nav-link" routerLink="home"><i class="fas fa-home"></i> Home</a>

<!-- 
      <a class="nav-link" routerLink="users">Users</a> -->

      <a class="nav-link" routerLink="login"><i class="fas fa-sign-in-alt"></i> SignIn</a>


      <!-- <a class="nav-link" routerLink="add-user">Add User</a> -->


      <a class="nav-link" routerLink="register"><i class="fas fa-user-plus"></i> SignUp</a>
      <!-- <a class="nav-link" routerLink="admin"><i class="fas fa-address-card"></i> Admin</a>

      <a class="nav-link" routerLink="userlanding"><i class="fas fa-users"></i> User</a> -->
      <a class="nav-link" routerLink="logout"><i class="fas fa-sign-out-alt"></i> Logout</a>
      <!-- <a class="nav-link" routerLink="companies" >Companies</a> 
           
           <a class="nav-link" routerLink="stockexchanges" >StockExchanges</a> 
           <a class="nav-link" routerLink="stockprices" >StockPrices</a> 
           <a class="nav-link" routerLink="ipos" >IPOS</a>  -->


      <!-- <a class="nav-link" routerLink="pipes">Pipes</a> -->






    </div>
  </nav>


</div>

<div class="container body-content app-container">
  <router-outlet></router-outlet>
</div> 




<div class="fixed-footer">
  <div class="container">Copyright &copy; 2020 </div>
</div>