<div class="row mb-5">
    <div class="col-6 my-3">
               
       <div class="card my-card border border-curved text-center btn btn-outline-primary" onclick="location.href='ipo'">
           <div class="card-body">
               <h4 class="card-title display-4">IPO</h4>
           </div>
       </div>
       
   </div>
   <div class="col-6 my-3">
               
       <div class="card my-card border border-curved text-center btn btn-outline-primary" >
           <div class="card-body">
               <h4 class="card-title display-4" routerLink="/comparecompanies">Compare Company </h4>
           </div>
       </div>
       
   </div>
   <div class="col-6 my-3">
               
       <div class="card my-card border border-curved text-center btn btn-outline-primary" >
           <div class="card-body">
               <h4 class="card-title display-4">Compare Sectors</h4>
           </div>
       </div>
   </div>
   <div class="col-6 my-3">
               
    <div class="card my-card border border-curved text-center btn btn-outline-primary" >
        <div class="card-body">
            <h4 class="card-title display-4" routerLink="/charts">Charts</h4>
        </div>
    </div>
</div>
<div class="col-6 my-3">
               
    <div class="card my-card border border-curved text-center btn btn-outline-primary" >
        <div class="card-body">
            <h4 class="card-title display-4" routerLink="/userprofile">UserProfile</h4>
        </div>
    </div>
</div>

   <!-- <div class="col-6 my-3">
               
       <div class="card my-card border border-curved text-center btn btn-outline-primary" onclick="location.href='stockprice'">
           <div class="card-body">
               <h4 class="card-title display-4">Stock Price</h4>
           </div>
       </div>
   </div> 
  
    -->
</div>

