<div class="col-md-8">
    <h2 > Welcome to Login Page</h2>
    <form  [formGroup]="loginForm" >
      <div class="form-group">
        <label for="email"> Username</label>
        <input type="text" formControlName="username" placeholder="User Name" name="username" class="form-control" id="username" >
      </div>
      <div class="form-group">
        <label for="password">Password:</label>
        <input type="password" formControlName="password" placeholder="Password" name="password" class="form-control" id="password">
      </div>

  
  
  
      <button type="submit" class="btn btn-success" (click)="login()" [disabled]="!loginForm.valid">Login</button>
    </form>
  </div>
  
  