

<!-- <div class="container"> -->
  
    <div class="p-4">
        <div id="body" class="container mt-5">
          <div class="row">
              <div class="col-3"></div>
              <div class="col-6">
            <form [formGroup]="updateProfileForm"  class="form-group border p-5 border-rounded pb-0  mb-5 bg-light">
            
                  <h1 class="text-muted text-uppercase text-center mb-3"> Update Details</h1>
                  <div class="form-group">
                
                      <label for="username">Username :</label>
                      <input type="text"  class="form-control" placeholder="enter username" formControlName="username" id="username" name="username">
                  </div>
                  <div>
                      <label for="email">Email ID :</label>
                      <input type="text"  class="form-control" placeholder="enter valid email id" formControlName="email" id="email" name="email">
                      <br>
                      <label for="phone">Phone no :</label>
                      <input type="number" id="phone" class="form-control" placeholder="enter valid Phone number" formControlName="phone"  name="phone">
                      <div class=" row text-center mt-3">
                        <button class="btn btn-success mt-3 mx-auto" (click)="updateTheUser()" [disabled]="!updateProfileForm.valid" >Signin</button>
                      </div>
                </div>
                
              </form>
              
        
            </div>
        </div>
        </div>
      </div>
      <br>
      <br><br>
      <br>