 <div class="row mb-5">
    <div class="col-6 my-3">
               
       <div class="card my-card border border-curved text-center btn btn-outline-dark" >
           <div class="card-body">
               <h4 class="card-title display-4" routerLink="/import"

               >Import Data</h4>
           </div>
       </div>
       
   </div>
   <div class="col-6 my-3">
               
       <div class="card my-card border border-curved text-center btn btn-outline-dark">
           <div class="card-body">
               <h4 class="card-title display-4" routerLink="/addnewcompany">Add Company</h4>
           </div>
       </div>
       
   </div>
   <!-- <div class="col-6 my-3"> -->
               
       <!-- <div class="card my-card border border-curved text-center btn btn-outline-dark" onclick="location.href='deletecompany'">
            <div class="card-body"> 
               <h4 class="card-title display-4">Delete company</h4>
           </div>
       </div>
   </div>
   <div class="col-6 my-3">
               
       <div class="card my-card border border-curved text-center btn btn-outline-dark" onclick="location.href='updatecompany'">
           <div class="card-body">
               <h4 class="card-title display-4">Update company</h4>
           </div>
       </div>
   </div> -->
   <div class="col-6 my-3">
               
       <div class="card my-card border border-curved text-center btn btn-outline-dark" >
           <div class="card-body">
               <h4 class="card-title display-4" routerLink="/stockexchange"

               >Stock Exchange</h4>
           </div>
       </div>
   </div>
   <!-- <div class="col-6 my-3">
               
    <div class="card my-card border border-curved text-center btn btn-outline-dark" >
        <div class="card-body">
            <h4 class="card-title display-4" routerLink="/stockprice"

            >Stock Price</h4>
        </div>
    </div> 
</div>-->

   <!-- <div class="col-6 my-3">
               
       <div class="card my-card border border-curved text-center btn btn-outline-dark" >
           <div class="card-body">
               <h4 class="card-title display-4" routerLink="/ipo">IPO</h4>
           </div>
       </div>
   </div> -->
   <div class="col-6 my-3">
               
    <div class="card my-card border border-curved text-center btn btn-outline-dark" >
        <div class="card-body">
            <h4 class="card-title display-4" routerLink="/users">Users List</h4>
        </div>
    </div>
</div>

   <div class="col-6 my-3">
               
    <div class="card my-card border border-curved text-center btn btn-outline-dark" >
        <div class="card-body">
            <h4 class="card-title display-4" routerLink="/companies">Companies List</h4>
        </div>
    </div>
</div>
<div class="col-6 my-3">
               
    <div class="card my-card border border-curved text-center btn btn-outline-dark" >
        <div class="card-body">
            <h4 class="card-title display-4" routerLink="/stockexchanges">Stock Exchanges List</h4>
        </div>
    </div>
</div>
<div class="col-6 my-3">
               
    <div class="card my-card border border-curved text-center btn btn-outline-dark" >
        <div class="card-body">
            <h4 class="card-title display-4" routerLink="/stockprices">Stock Prices List</h4>
        </div>
    </div>
</div>
<div class="col-6 my-3">
               
    <div class="card my-card border border-curved text-center btn btn-outline-dark" >
        <div class="card-body">
            <h4 class="card-title display-4" routerLink="/ipos">IPOS List</h4>
        </div>
    </div>
</div>

</div>



